@charset "utf-8";
.text-28 {
	font-size: 2.8rem;
}

.text-26 {
	font-size: 2.6rem;
}

.text-24 {
	font-size: 2.4rem;
}

.text-20 {
	font-size: 2rem;
}

.text-18 {
	font-size: 1.8rem;
}

.text-14 {
	font-size: 1.4rem;
}

.text-12 {
	font-size: 1.2rem;
}

.text-16 {
	font-size: 1.6rem;
}

.relative {
	position: relative;
}

.red {
	color: #cc0000;
}

.huise {
	color: #666666;
}

a {
	color: #333;
}

a:focus,
a:hover {
	color: #333;
}


/*header*/

.logo img {
	width: 3.2rem;
	height: 3.2rem;
}

.logo {
	padding-top: 1rem;
}

.header input {
	border: 0;
	background-color: #ededed;
	margin-top: 1.2rem;
	border-radius: 6px;
}

.shousuo img {
	width: 1.6rem;
	height: 1.6rem;
	top: 43%;
	left: 22%;
	position: absolute;
}


/*底部*/

.line3 {
	border-bottom: 1px solid #cccccc;
}

.line4 {
	border: 1px solid #ededed;
}

.nav-footer p {
	margin-top: 0rem;
	margin-bottom: 0;
}

.nav-footer {
	margin-top: 0.3rem;
}

.dibu-nav {
	background-color: #FFFFFF;
	position: fixed;
	width: 100%;
	height: 6rem;
	bottom: 0;
	left: 0;
	z-index: 9999;
}

.kongbai {
	height: 7rem;
}


/*nav*/

.tuijian a {
	display: inline-block;
	padding: 0 0.2rem 0.6rem 0.2rem;
	border-bottom: 2px solid #cc0000;
}


/*主体*/

.title-1 p {
	padding: 0;
	margin: 0;
}

.title-1 {
	background-color: #ededed;
}

.book-title span {
	display: inline-block;
	margin-left: 1rem;
}

.marr span {
	display: inline-block;
	margin-left: 5rem;
	margin-right: 5rem;
}

.line5 {
	border: 2px solid #ededed;
}