@charset "utf-8";
.shouye {
	height: 100%;
	width: 100%;
	background: #f5f5f5;
}

.shouye2 {
	height: 100%;
	width: 100%;
	background: #f5f5f5;
	
}
.shou_conta{
	height: 480px;
	width: 100%;
	overflow: hidden;
}

.shouye3 {
	height: 100%;
	width: 100%;
	/*background: url(../img/bg-gg.png);*/
	/*background-size: 100%;*/
}

.font_1 {
	font-size: 18px;
	font-family: Adobe 黑体 Std;
}

.font_2 {
	font-family: Adobe 黑体 Std;
	font-size: 14px;
	color: #424242;
}

.font_3 {
	font-family: Adobe 黑体 Std;
	font-size: 12px;
	color: #CC0000;
	letter-spacing: 3px;
}
.les{
	letter-spacing: 3px;
}
.margintop1 {
	margin-top: 140px;
}

.margintop2 {
	margin-top: 28px;
}

.margintop3 {
	margin-top: 60px;
}

.margintop4 {
	margin-top: 15px;
}

.margintop5 {
	margin-top: 80px;
}